#preview{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.card{
    border-bottom: 1px solid #000;
    padding: 2%;
}

.card div{
    padding:  1%;
}

.card label{
    display: block;
    margin: 0;
}

.card input[type="radio"] {
    display: inline;
}