header{
    border-bottom: unset;
    display: flex;
    justify-content: space-between;
}

#timer{
    font-size: 1.5em;
}

main{
    flex-direction: column;
    align-items: flex-start;
}

#candidate{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #000;
}

#candidate button{
    margin-bottom: 1em;
    width: fit-content;
}

#question{
    margin-bottom: 5vmin;
}

main > section{
    padding: 1%;
    width: 100%;
}

main input[type="radio"]{
    display: inline;
}

main label{
    display: block;
    margin: 0;
}

#nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

#nav button, #candidate button{
    min-width: 5%;
}

#nav button:first-child{
    visibility: hidden;
}


@media screen and (min-width:500px) {
    #candidate {
            flex-direction: row-reverse;
        }
}